



  .article-picture {
        width: 60%;
        height: 30%;
    display: flex;
    padding: 35px;
    background-color: #1b1b1b;
    img {
        width: 60%;
        height: 30%;
    }
  }
.article-padding {
    padding: 35px;
  }
