/* Reset some default styles */
/* took these out sorry */

/* Define styles for the container */
.article-container {
  max-width: 1000px;
  padding: 1rem;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Contain floated elements within the container */
  border-radius: 10px; /* Rounded corners */
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Define styles for the article heading */
.article-title {

  font-weight: bold;
  margin: 20px;
}

/* Define styles for the article meta information */
.article-meta {
  font-size: 22px;
}

/* Define styles for the article content */
.article-content {
  font-size: 24px;
  line-height: 1.6;
  margin: 0 20px 20px;
}

/* Define styles for article images */
.article-image {
  max-width: 70%;
  height: auto;
  float: left; /* Float the image to the left */
  margin-right: 20px; /* Add margin to create space between text and image */
}
