/* Apply a CSS reset to remove default margin and padding */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

.grid-container {
  margin: 3%;
  padding: 0;
  display: grid;
  grid-template-columns: 500px 300px 1fr;

  /* Three equal-width columns */
  grid-gap: 10px; /* Gap between grid items */
  max-width: 800px; /* Optional: Set a max width for the grid */

}

.grid-item {
  background-color: #e0e0e0;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 24px;
}
